<h4>Dziękuję Ci bardzo za wypełnienie ankiety. <br>
    Dla mnie to znaczy naprawdę wiele.<br>
    Dzięki temu będę mógł dokończyć pisanie mojej pracy magisterskiej.
</h4>

<blockquote class="sidekick">
    Bądź odważny <br>
    gdy rozum zawodzi, bądź odważny, <br>
    w ostatecznym rachunku jedynie to się liczy.<cite> Zbigniew
        Herbert</cite>
</blockquote>

<h5>Poniżej możesz zobaczyć swoje odpowiedzi.</h5>
<div class="wrapper thankyou">

    <label>Pytanie 1</label>
    <p>Jakiego języka obecego jako drugiego uczysz się obecnie w szkole?</p>
    <h5>
        <%=response.answer2%>
    </h5>

    <label>Pytanie 2</label>
    <p>Jakiego języka obcego jako drugiego chiałbyć/chciałabyś się uczyć najbardziej gdybyś
        miał/miała
        nieograniczony wybór?
    <h5>
        <%=response.answer2%>
    </h5>

    <label>Pytanie 3</label>
    <p>Jakiego języka obcego jako drugieo uczyłeś/uczyłaś się w szkole podstawowej?</p>
    <h5>
        <%=response.answer3%>
    </h5>

    <label>Pytanie 4</label>
    <p>Czy uczyłeś/uczyłaś się w szkole podstawowej tego samego języka obcego jako
        drugiego
        którego obecnie uczysz sie w szkole (również jako drugiego)?</p>
    <h5>
        <%=response.answer4%>
    </h5>

    <label>Pytanie 5</label>
    <p>Czy w ofercie placówki znalazłeś/znalazłaś język obcy jako drugi, którego
        chciałbyś/chciałabyś się uczyć.</p>
    <h5>
        <%=response.answer5%>
    </h5>

    <label>Pytanie 6</label>
    <p>Jaka była Twoja ocena z języka obcego jako drugie na koniec
        ostatniego semestru?</p>
    <h5>
        <%=response.answer6%>
    </h5>

    <label>Pytanie 7</label>
    <p>Co skłoniło Cię do wybrania tego a nie innego jezyka obcego
        jako drugiego?</p>
    <h5>
        <%=response.answer7%>
    </h5>

    <label>Pytanie 8</label>
    <p>Co sprawia, że dany język wydaje Ci się
        atrakcyjny?</p>
    <h5>
        <%=response.answer8%>
    </h5>
</div>